.App-homeworks-tab-nav .ant-tabs-nav {
  margin-bottom: 0 !important;
}

.App-homeworks-header-card .ant-card-body {
  padding-bottom: 0 !important;
}

.App-homeworks-filter-card .ant-input-search {
  margin: 0 !important;
}

.App-homeworks-filter-card .ant-form-item {
  margin-bottom: 0 !important;
}
